.banner{
    background-image: url(../../images/bakery.avif);
    padding: 160px;
    color: WHITE;
    background-position: center;
    background-size: cover;
   
}

.banner h1 {
    font-size: 80 px;
}

.logo{
    margin: 50px;
    
}

